body {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  margin: 0 0 0 0;
  font-weight: bold;
}

#underline {
  text-decoration: overline;
}

p{
  line-height: 2;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 3rem;
}

h3 {
  font-family: 'Merriweather', serif;
  color: #66BFBF;
}

.top-box {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-box {
  width: 50%;
  margin: 10px auto;
}

.bottom-box {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #65bfbf;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 300px;
}

#circular_avatar {
  border-radius: 50%;
}

hr {
  border-style: dotted none none none;
  width: 100px;
  border-width: 10px;
  border-color: #EAF6F6;
}

.skill-icon {
  width: 15%;
}

.skill-row {
  text-align: left;
  padding: 50px 0;
}

.coding-icon {
  float: left;
  margin-right: 30px;
}

.writing-icon {
  float: right;
  margin-left: 30px;
}

.cooking-icon {
  float: left;
  margin-right: 30px;
}

.description {
  font-size: 2.5rem;
  font-weight: normal;
}


.contact-me{
  padding: 30px 0 60px 0;
}

.btn{
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  background-image: linear-gradient(to top, #007791, #66BFBF);
}

.description-contacts-me{
  padding-bottom: 30px;
}

.footer-link{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #11999E;
  font-size: 1.2rem;
  margin: 0 30px;
}

.copyrights{
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
}
